[submodule "Frontend"]
	path = Frontend
	url = git@github.com:PlaySorbonne/jeu_piste-frontend.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:PlaySorbonne/jeu_piste-backend.git
[submodule "Client"]
	path = Client
	url = git@github.com:PlaySorbonne/jeu_piste-Client.git